{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
<center>
<section class="disposition">

<div class="card" style="width: 18rem;">
  <img src="https://static.cdnlogo.com/logos/s/35/stock.svg" class="card-img-top" alt="...">
  <div class="card-body">
  <h5 class="card-title"><a href="{{path('article')}}">Produit</a></h5>
    
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
  <img src="https://www.kevinbouilleaux.com/wp-content/uploads/2018/11/vente-produit.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><a href="{{path('product')}}">Inscription Produit</a></h5>

   
  </div>
</div>

</section>
</center>
{% endblock %}