{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
<header>
<a class="accueil" href="{{path('producth')}}">
<h1>
FootStock.fr
</h1></a>
</header>

<section class="container place">


<a class="choix" href="{{path('article')}}">
    <div>
        <h5 class="card-title title">
        
        Equipement Stock

        </h5>
        <center>
        <img src="https://www.mes-pieces-origine.fr/modules/blockreassurance/views/img/img_perso/stock-icon-png-14.png" alt="">
         </center>
    </div>
</a>

<a class="choix" href="{{path('product')}}">
    <div>
        <h5 class="card-title title">
        
        
        Ajouter Equipement
        
        
        </h5>
        <center>
        <img  src="https://static.thenounproject.com/png/2516319-200.png" alt="">
 </center>
    </div>
</a>
</section>
{% endblock %}

