{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

<header>
<a class="accueil" href="{{path('producth')}}">
<h1>
FootStock.fr
</h1></a>
</header>

{% for product in product %}
<a href="{{path('informations', {'id': product.id})}}">
<div class="container choix2">
<h4>{{product.nom}}</h4>
<br>
<h4>Quantité : {{product.quantite}} </h4>



</div>
</a>
{% endfor %}
<br>
<br>
{% endblock %}